/*
Beta_Build-0.2;
Compile Date: 24/1/21;
Days working on build: 7;
© Pieter Edwards 2021, this is a BETA build not intended for public distribution;
*/

body {
  background-color: white;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
