/*
Beta_Build-0.2;
Compile Date: 24/1/21;
Days working on build: 7;
© Pieter Edwards 2021, this is a BETA build not intended for public distribution;
*/

#simContainer {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  height: 90vh;
  width: 80vw;
}

#controlPannel {
  position: relative;
  left: 55vw;
  background-color: #D3D3D3;
  width: 35vw;
  height: 5vh;
}

#expand {
  position: relative;
  top: 50%;
  left: 1vw;
  transform: translate(0, -50%);
}

#expand:hover {
  color: white;
  cursor: pointer;
}
