/*
Beta_Build-0.2;
Compile Date: 25/1/21;
Days working on build: 8;
© Pieter Edwards 2021, this is a BETA build not intended for public distribution;
*/

@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

#simContainer {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  height: 90vh;
  width: 80vw;
}

#controlPannel {
  position: relative;
  left: 54.5vw;
  background-color: #D3D3D3;
  width: 35vw;
  height: 5vh;
}

#controlOption {
  position: absolute;
  top: 50%;
  left: 1vw;
  transform: translate(0, -50%);
}

#controlOption:hover {
  cursor: pointer;
}

#controlOption2 {
  position: absolute;
  top: 50%;
  left: 4vw;
  transform: translate(0, -50%);
}

#controlOption2:hover {
  cursor: pointer;
}

